.navbar-hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
}
.navbar-visible {
  transform: translateY(0);
  transition: transform 0.3s ease-in-out;
}
.mobile-hide {
  display: none !important;
}
@media (min-width: 768px) {
  .navbar-mobile-hide-show {
    transform: none !important;
    transition: none !important;
  }
  .mobile-hide {
    display: block !important;
  }
  .hamburger-icon {
    display: none !important;
  }
}

.menu-content-wrapper {
  display: flex;
  min-height: calc(100vh - 56px);
}

.column {
  min-height: calc(100vh - 56px);
  overflow-y: auto;
}

.column-left {
  width: 60px;
  display: none;

  @media (min-width: 768px) {
    display: block !important;
  }
}

.column-right {
  flex: 1;
}
