.side-menu-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.side-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}

.icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .icon {
    margin-right: 12px;
  }
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
}

.menu-items {
  padding: 0.8rem 1rem;
}

.menu-item {
  position: relative;
  margin-bottom: 0.1rem;
}

.menu-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 0.1rem 0;
}

.menu-parent.active {
  color: green;
}

.menu-link,
.submenu-item {
  display: flex;
  align-items: center;
  padding: 2px 0;
  text-decoration: none;
  color: inherit;
}

.menu-link.active,
.submenu-item.active {
  color: green;
  font-weight: bold;
}

.submenu {
  margin-left: 25px;
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
}
