.special-table {
  overflow: auto;
  max-height: calc(100vh - 190px);
  position: relative;
}

.special-table th,
.special-table td {
  white-space: nowrap;
}

/* Header fixieren */
.special-table thead th {
  position: sticky;
  top: 0;
  z-index: 2;
}

/* Erste Spalte fixieren */
.special-table tbody td:first-child {
  position: sticky;
  left: 0;
  z-index: 3;
}

.special-table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 4;
}
